.emg {
    width: 100%;
    min-height: 100vh;
    padding-top: 3.125rem;

    @media(min-width: $tablet) {
        padding-top: 5.125rem;
    }

    background-image: linear-gradient(rgba(240, 255, 250, 0.95), rgba(240, 255, 250, 0.95)),  url('../assets/img/emg-mobile.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__boxes-container {
        background-color: rgba($color: $primary-color, $alpha: 0.2);
        color: $primary-color;
        margin-top: 0.75rem;

        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    &__footer {
        padding: 2.375rem 0.5rem 1rem 0.5rem;
        text-align: center;
    }

    &__paragraph {
        color: $primary-color;
        font-size: 1rem;

        @media(min-width: $tablet) {
            font-size: 1.25rem;
            line-height: 1.5rem;
            max-width: $tablet;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.single-box {
    padding: 0.5rem;
    color: $primary-color;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media(min-width: $mobile-large) {
        max-width: $mobile-large;
        padding-bottom: 2rem;
    }

    @media(min-width: $tablet) {
        max-width: 536px;
    }


    &__icon-container {
        text-align: center;
    }

    &__icon {
        fill: #F77F00;
        width: 40px;
        height: 40px;

        @media(min-width: $tablet){
            width: 80px;
            height: 80px;
        }
    }

    &__header {
        font-size: 1.25rem;
        text-align: center;
        margin-top: 1rem;

        @media(min-width: $tablet) {
            font-size: 1.5rem;
        }
    }

    &__paragraph {
        font-size: 1rem;
        text-align: center;
        margin-top: 1rem;
        line-height: 1.1875rem;

        @media(min-width: $tablet) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }
}