.examination {
    width: 100%;
    min-height: 100vh;

    background-image: linear-gradient(rgba(0, 52, 89, 0.7), rgba(0, 52, 89, 0.7)),  url('../assets/img/start-mobile.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media(min-width: $tablet) {
        background-image: linear-gradient(rgba(0, 52, 89, 0.7), rgba(0, 52, 89, 0.7)),  url('../assets/img/start-tablet.jpg');
    }

    @media(min-width: $desktop) {
        background-image: linear-gradient(rgba(0, 52, 89, 0.7), rgba(0, 52, 89, 0.7)),  url('../assets/img/start-desktop.jpg');
    }

    &__box-container {
        width: 100%;
        padding: 0.5rem;
        padding-top: 0;

        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        @media(min-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            padding: 1rem;
            gap: 1rem;
        }

        @media(min-width: $desktop-large) {
            max-width: $desktop-large;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__footer {
        padding: 1rem 1rem;
        text-align: center;

        @media(min-width: $desktop-large) {
            max-width: $desktop-large;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__paragraph {
        color: $light-color;
        font-size: 1rem; 
        margin: 1rem 0;   
        
        &--link {
            text-decoration: none;
            text-transform: uppercase;
            transition: all .2s ease-in;
            border-bottom: 1px solid transparent;
            
            @media(min-width: $desktop) {
                &:hover {
                    cursor: pointer;
                    color: $third-color;
                    border-bottom: 1px solid $third-color;
                }
            }
        }

        @media(min-width: $tablet) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }
}