.location {
    width: 100%;
    min-height: 100vh;

    
    background-image: linear-gradient(rgba(240, 255, 250, 0.95), rgba(240, 255, 250, 0.95)),  url('../assets/img/emg-mobile.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @media(min-width: $tablet) {
        background-image: linear-gradient(rgba(240, 255, 250, 0.95), rgba(240, 255, 250, 0.95)),  url('../assets/img/emg-tablet.jpg');
    }

    @media(min-width: $desktop) {
        background-image: linear-gradient(rgba(240, 255, 250, 0.95), rgba(240, 255, 250, 0.95)),  url('../assets/img/emg-desktop.jpg');
    }
}

.personal-data {
    text-align: center;
    color: $primary-color;
    font-size: 1rem;

    &__items {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 300px;
        // background-color: yellow;

        @media(min-width: $tablet) {
            max-width: 340px;
        }
    }
    
    &__item {
        margin-top: 0.5rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: $primary-color;
        margin-right: 0.5rem;

        @media(min-width: $tablet) {
            width: 32px;
            height: 32px;
        }
    }

    &__paragraph {
        color: $primary-color;    
        font-size: 1rem;

        @media(min-width: $tablet) {
            font-size: 1.25rem;
        }
    }
}

.addresses {
    @media(min-width: $desktop) {
        background-color: rgba($color: $primary-color, $alpha: 0.2);
        margin-top: 4.4rem;
        min-height: 380px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__item {
        padding: 0.5rem;
        background-color: rgba($color: $primary-color, $alpha: 0.2);
        margin: 1rem 0;
        text-align: center;
        
        @media(min-width: $tablet) {            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
        @media(min-width: $desktop) {
            background-color: transparent;
        }
    }    
}

.address {
    // background-color: red;
    margin: 1rem 0;

    @media(min-width: $desktop) {
        margin: 1rem;
    }

    &__icon {
        width: 40px;
        height: 40px;
        fill: $secondary-color;

        @media(min-width: $tablet) {
            width: 50px;
            height: 50px;
        }

        @media(min-width: $desktop) {
            width: 60px;
            height: 60px;
        }
    }

    &__paragraph {
        color: $primary-color;
        font-size: 1rem;
        margin-top: 0.5rem;

        @media(min-width: $tablet) {
            font-size: 1.25rem;
            margin-top: 1rem;
        }
    }
}