.navigation {
    position: fixed;
    width: 100%;
    background-color: transparent;

    &__mobile-off {
        display: flex;
        justify-content: flex-end         ;
        align-items: center;
    }

    &__icon {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        fill: $third-color;
        width: 2rem;
        height: 2rem;
    }

    &__mobile-on {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: green;
        transition: all 0.2s ease-in;

        &--hide {
            transform: translateX(100%);
        }
    }
}