.navigation {
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 9999;

    &__mobile-off {
        display: flex;
        justify-content: flex-end         ;
        align-items: center;

        @media(min-width: $tablet) {
            display: none;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        background-color: transparent;
        outline: none;

        @media(min-width: $tablet) {
            display: none;
        }
    }

    &__icon {
        fill: $third-color;
    }

    &__mobile-on {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        // height: 100vh;
        opacity: 1;
        
        background-color: rgba(0, 52, 89, 0.2);
        backdrop-filter: blur(4px);
        
        transition: all $show-button-time ease-in;

        @media(min-width: $tablet) {
            backdrop-filter: none;
            background-color: transparent;
        }

        &--hide {
            transform: translateX(100%);
            opacity: 0;
        }

        @media(min-width: $tablet) {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__body {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: $primary-color;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media(min-width: $tablet) {
            top: 0;
            left: 0;
            right: 0;
            height: 6rem;
            width: 100%;
            padding: 0 1rem;
            border-bottom: 1px solid $light-color;

            background-color: rgba(0, 52, 89, 0.5);
            flex-direction: row;
            transition: all .2s ease-in;

            &--small {
                background-color: $primary-color;
                height: 3.75rem;
                border: none;
            }
        }
    }

    &__logo {
        display: none;
        
        @media(min-width: $tablet) {
            display: block;
            color: $light-color;
            font-size: 3.125rem;
            font-family: 'Pattaya', sans-serif;

            span {
                color: $third-color;
            }
        }
    }

    &__items {
        width: 100%;
        height: 16rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @media(min-width: $tablet) {
            height: inherit;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__item {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 1rem;
    }
    
    &__link {
        display: inline-block;
        color: $light-color;
        text-decoration: none;
        font-size: 1.375rem ;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: transparent;
        }

        &--active::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: $third-color;
        }
    }
}