.prices {
    width: 100%;
    min-height: 100vh;

    background-image: linear-gradient(rgba(240, 255, 250, 0.95), rgba(240, 255, 250, 0.95)),  url('../assets/img/emg-mobile.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @media(min-width: $tablet) {
        background-image: linear-gradient(rgba(240, 255, 250, 0.95), rgba(240, 255, 250, 0.95)),  url('../assets/img/emg-tablet.jpg');
    }

    @media(min-width: $desktop) {
        background-image: linear-gradient(rgba(240, 255, 250, 0.95), rgba(240, 255, 250, 0.95)),  url('../assets/img/emg-desktop.jpg');
    }
}

.box-container {
    color: $primary-color;
    padding: 0.5rem;
    padding-bottom: 1rem;

    width: 100%;
    max-width: $desktop-large;
    margin-left: auto;
    margin-right: auto;


    @media screen and (min-width: $tablet) {
        padding: 1rem;
    }

    &__paragraph {
        font-size: 1rem;
        text-align: left;
        margin: 1rem 0;
        line-height: 1.1875rem;

        @media(min-width: $tablet) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }
}

.table {
    background-color: $primary-color;
    color: $light-color;
    width: 100%;
    padding: 1rem 0;
    border-radius: 10px;
    text-align: center;
    border: none;

    border: none;

    &__head {
        font-size: 1.2rem;

        @media(min-width: $tablet) {
            font-size: 1.4rem;
            line-height: 1.5rem;
        }

        th:nth-child(1) {
            width: 40px;

            @media(min-width: $tablet) {
                width: 80px;
            }
        }

        th:nth-child(2) {
            text-align: left;
        }

        th:nth-child(3) {
            width: 70px;

            @media(min-width: $tablet) {
                width: 140px;
            }
        }
    }

    &__body {
        font-size: 1rem;

        @media(min-width: $tablet) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        tr:nth-child(odd) {
            background-color: $primary-color--light;
        }
    }

    tr {
        height: 50px;
    }

    td:nth-child(2) {
        text-align: left;
    }

    th, td {
        border: none;
    }
}