.start {
    width: 100%;
    min-height: 100vh;
    color: $light-color;
    padding: 0.5rem;

    background-image: linear-gradient(rgba(08, 15, 15, 0.7), rgba(08, 15, 15, 0.7)),  url('../assets/img/start-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media(min-width: $mobile-medium) {
        padding: 1rem;
    }

    @media(min-width: $tablet) {
        background-image: linear-gradient(rgba(08, 15, 15, 0.7), rgba(08, 15, 15, 0.7)),  url('../assets/img/start-tablet.jpg');
    }

    @media(min-width: $desktop) {
        background-image: linear-gradient(rgba(08, 15, 15, 0.7), rgba(08, 15, 15, 0.7)),  url('../assets/img/start-desktop.jpg');
    }
    
    &__container {
        @media(min-width: $desktop-large) {
            width: $desktop-large;
            margin: 0 auto;
        }
    }

    &__header {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 300;
        line-height: 80%;

        @media(min-width: $tablet) {
            font-size: 5rem;
        }

        @media(min-width: $desktop) {
            font-size: 6.25rem;
        }
    }

    &__span {
        color: $secondary_color;
        font-size: 2.375rem;

        @media(min-width: $tablet) {
            font-size: 6.625rem;
        }

        @media(min-width: $desktop) {
            font-size: 7.875rem;
        }
    }

    &__paragraph {
        margin-top: 3.25rem;
        font-size: 1.25rem;

        @media(min-width: $tablet) {
            font-size: 2.125rem;
        }

        @media(min-width: $desktop) {
            font-size: 2.375rem;
        }
    }
}