.start {
    width: 100%;
    min-height: 100vh;

    
    &__header {
        color: red;
    }

    &__span {
        color: $secondary_color;
    }

    &__paragraph {
        color: green;
    }
}