$mobile-medium: 375px;
$mobile-large: 425px;
$tablet: 768px;
$desktop: 1024px;

$primary-color: #003459;
$secondary-color: #F77F00;
$third-color: #D62828;
$light-color: #EFFFFA;
$dark-color: #080f0f;

$show-button-time: .5s;