$mobile-medium: 375px;
$mobile-large: 425px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1200px;

$primary-color: rgb(0, 52, 89);
$secondary-color: #F77F00;
$third-color: #D62828;
$light-color: #EFFFFA;
$dark-color: #080f0f;

$show-button-time: .2s;