@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Pattaya&display=swap');

@import "_reset";
@import "_variables";
@import "_navigation";
@import "_start";

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  overflow-x: hidden;
}


// font-family: 'Pattaya', sans-serif;

// utilities =================
.border-bottom::after {
  content: '';
  display: block;
  margin-top: 6px;
  width: 60px;
  height: 2px;
  background-color: $secondary-color;
}
