@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Pattaya&display=swap');

@import "_reset";
@import "_variables";
@import "_navigation";
@import "_start";
@import "_emg";
@import "_examination";
@import "_prices";
@import "_lab";
@import "_location";
@import "_footer";

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  overflow-x: hidden;
}


// font-family: 'Pattaya', sans-serif;

// utilities =================
.header {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: $primary-color;

  &--light-color {
    color: $light-color;
  }

  @media(min-width: $tablet) {
    font-size: 2.375rem;
  }

  @media(min-width: $desktop) {
    font-size: 3.375rem;
  }
}

.header::after {
  content: '';
  display: block;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
  width: 40px;
  height: 2px;
  background-color: $secondary-color;
  
  @media(min-width: $tablet) {
    margin-bottom: 1.75rem;
  }

  @media(min-width: $desktop) {
    margin-bottom: 2.75rem;
  }
}

// this border starts from left
.border-bottom::after {
  content: '';
  display: block;
  margin-top: 6px;
  width: 60px;
  height: 2px;
  background-color: $secondary-color;

  @media(min-width: $tablet) {
    width: 188px;
    margin-top: 16px;
  }
}

.border-bottom--small::after {
  content: '';
  display: block;
  margin-top: 6px;
  width: 20px;
  height: 2px;
  background-color: $secondary-color;

  @media(min-width: $tablet) {
    width: 80px;
    margin-top: 16px;
  }
}

.temp-class {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.space-top {
  padding-top: 2rem;

  @media(min-width: $tablet) {
    padding-top: 2.4rem;
  }

  @media(min-width: $desktop) {
    padding-top: 5.125rem;
  }
}

.box {
  position: relative;
  margin-top: 2.5rem;
  padding: 0.5rem;
  padding-top: 2.5rem;
  background-color: rgba($color: $light-color, $alpha: 0.7);
  border-radius: 10px;
  text-align: center;

  @media(min-width: $tablet) {
      padding-top: 4rem;
  }

  &__circle {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);

      width: 60px;
      height: 60px;
      background-color: $primary-color;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      @media(min-width: $tablet) {
          top: -40px;

          width: 80px;
          height: 80px;
      }
  }

  &__icon {
      fill: $secondary-color;
      width: 40px;
      height: 40px;

      @media(min-width: $tablet) {
          width: 50px;
          height: 50px;
      }
  }

  &__header {
      color: $primary-color;
      font-size: 1.25rem;
      margin-bottom: 1rem;

      @media(min-width: $tablet) {
          font-size: 1.5rem;
      }
  }

  &__paragraph {
      color: $primary-color;
      font-size: 1rem;

      &--listed {
          text-align: left;
      }

      @media(min-width: $tablet) {
          font-size: 1.25rem;
          line-height: 1.5rem;
      }
  }

  &__items {
      list-style-type: none;
      text-align: left;
      padding-left: 10px;        
  }


  // TODO - add styles for pictures
  // when lightbox library added
  &__gallery {
    // background-color: red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin: 0.5rem 0;
  }

  &__image-container {
    height: 120px;
    overflow: hidden;
    border: 1px solid $primary-color;

    position: relative;

    @media(min-width: $tablet) {
      height: 250px;
    }
    
    @media(min-width: $desktop-large) {
      height: 120px;
    }
  }

  &__img {
    max-width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}