@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Pattaya&display=swap');

@import "_reset";
@import "_variables";
@import "_navigation";
@import "_start";
@import "_emg";

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  overflow-x: hidden;
}


// font-family: 'Pattaya', sans-serif;

// utilities =================
.header {
  text-align: center;
  font-size: 1.375rem;
  color: $primary-color;
}

.header::after {
  content: '';
  display: block;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 2px;
  background-color: $secondary-color;
}

// this border starts from left
.border-bottom::after {
  content: '';
  display: block;
  margin-top: 6px;
  width: 60px;
  height: 2px;
  background-color: $secondary-color;

  @media(min-width: $tablet) {
    width: 188px;
    margin-top: 16px;
  }
}

.temp-class {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}